@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

h1, h2 {
  font-family: 'Lora', serif;
}
h1 a{
  text-decoration: none;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

a, a:visited{
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #00ddff;
  text-decoration: none;
}

a.active {
  color: #deb887;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  
}