@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

h1, h2 {
  font-family: 'Lora', serif;
}
h1 a{
  text-decoration: none;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

li {
  text-decoration: none;
  text-align: center;
  list-style: none;
}

li a, li a:visited{
  color: #666;  
}

li a:hover {
  color: #00ddff;
}

li a.active {
  color: #deb887;
}

.post-date {
  text-align: right;
}

@media screen and (max-width: 400px) {
  
}